#backToTopBtnProduct {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 100px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    color: black;
    cursor: pointer;
    padding: 15px 50px;
    border-radius: 12px;
    font-size: 14px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  }
  
  #backToTopBtnProduct:hover {
    background-color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  #backToTopBtnProduct img {
    width: 50px; /* Kích thước tương tự với các nút khác */
    height: 50px;
    margin-right: 0;
    transition: transform 0.3s ease;
  }
  
  #backToTopBtnProduct:hover img {
    transform: scale(1.2); /* Phóng to ảnh khi hover */
  }
  